* {
    margin: 0;
    padding: 0;
}

.review {
    display: inline-block;
    margin: 1%;
    border: 3px solid black;
    border-radius: 7px;
}

.header {
    display: flex;
    flex-direction: row;
}

.reviewerName {
    align-self: end;
}

img {
    width: 50%;
    margin: 0 auto;
}

.headerTitle {
    font-size: 150%;
    font-weight: bold;
}

.AboutMap {
    display: flex;
    flex-direction: row;
}

.Map {
    border: black solid 5px;
    width: 40%;
    height: 100%;
}

.left {
    width: 60%;
}